<div class="container">
  <h1>Find cooks near you</h1>
</div>

<div class="container">
  <%= link_to 'Home', root_path %>
</div>

<div class="container">
  <table>
    <thead>
    <tr>
      <th>Cook</th>
      <th>Cuisine</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
    </thead>
  </table>
</div>

<div class="container">
  <%= link_to 'New cook', new_cook_path %>
</div>